body{
    font-family: sans-serif;
    color: #508B41;
}

header{
    text-align:center:

}

spam{
    background-color:#F0AE44;
    color:#AE7F21;
    paddind: 5px;
    margin: 10px 20 px;
    border: 2px solid blue;
    border-radius: 5px;
    
}